@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Mont;
  src: url(../public/fonts/Mont-Regular.woff);
}

:root {
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --yellow: #F2F99C;
  --font-mont: Mont, sans-serif;
  --light-purple: #EAB4F7;
  --dark: #030303;
  --white: #F1F1F1;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }
}